.root {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.input {
    color: var(--main-text-color);
    border: 2px var(--secondary-color) solid;
    background-color: var(--secondary-color-100);
    font-size: 17px;
    border-radius: 20vh;
    padding: 7px 10px;
    width: 250px;
}

.errorLabel {
    color: var(--errors-color);
}